@import "includes/variaveis.less";  
@import "includes/fonts.less";   
@import "includes/mixins.less";   

@font-face {
    .downtempo;
    .fontana;
}

body{ 
	font-size: 100%;
	font-family: 'downtempo', Arial, sans-serif;
	position: relative;
} 

.seta{
	font-size: 5em;
	position: fixed;
	bottom: 0;
	background: #fff;
	color: @corAzul; 
	z-index: 9999;
}

@import "includes/header.less";   
@import "includes/content.less";   


footer#footer{
	p{
		font-size: 1.5em;
		padding: 5px 0;
	}
}

@import "mediaqueries/sm.less";   
@import "mediaqueries/md.less";   
@import "mediaqueries/lg.less";