<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if page.title %} {{page.title}} | {% endif %} {{site.title}}</title> 
		<meta name="description" content="{% if page.description %} {{page.description}} {% else %} {{site.description}} {% endif %}">
		<meta name="keywords" content="{% if page.keywords %} {{page.keywords}} {% else %} {{site.keywords}} {% endif %}">
		<meta name="autor" content="{{site.author}}">
  
		<!-- Vendors CSS -->
		<link href="{{site.baseurl}}/assets/css/vendors.css" rel="stylesheet"> 
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

		<!-- Style CSS -->
		<link href="{{site.baseurl}}/assets/css/main.css" rel="stylesheet"> 

		<!-- Android Lolipop Theme Color -->
    	<meta name="theme-color" content="{{page.cor}}">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		{% if page.lead %}
		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','//connect.facebook.net/en_US/fbevents.js');

		fbq('init', '819026031517306');
		fbq('track', "PageView");
		fbq('track', 'Lead');
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=819026031517306&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->
		
		{% else %}

		<!-- Facebook Pixel Code -->
		<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','//connect.facebook.net/en_US/fbevents.js');

		fbq('init', '819026031517306');
		fbq('track', "PageView");
		</script>
		<noscript><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=819026031517306&ev=PageView&noscript=1"
		/></noscript>
		<!-- End Facebook Pixel Code -->
		{% endif %}
	</head>
	<body>
		
		<div class="seta blink col-xs-12 text-center">
			<span class="glyphicon glyphicon-chevron-down visible-xs"></span>	
		</div>

		<div class="container-fluid">  

			<div class="row">

				<header id="header" class="col-xs-12">
					{% include nav.html%}
				</header>
				<!-- /#header -->
			</div>
			<!-- /.row 1 -->